<h1>Comentário cadastrado com sucesso</h1>
<p>Autor: {{comment.author}}</p>
<p>Comentário: {{comment.comment}}</p>
<p>Product Id: {{comment.product}}</p>

<p>
  <a href="/products/{{comment.product}}">Voltar a tela de produto</a>
</p>